<div id="header" class="jumbotron">
  <h1>What's going on tonight?</h1>
  <p>If you want go out tonight but do not know where to go, your problems are over!</p>
  <p>Use this app to discover the trendiest places of your city!</p>
</div>