<div class="container" id="events">
<form method="post" action="events/search">
    <h3>Where are you?</h3>
    <input name="location" type="text"  class="form-control" placeholder="New York"/>
    <button class="btn btn-default" type="submit" value="submit" >Search!</button>
</form>
</div>